:root {
    --primary-blue: #3C406B;
    --secondary-pink: #F4C2C2;
    --light-gray: #f8f9fa;
    --dark-gray: #495057;
    --text-color-light: #6c757d;
}

/* --- Estilos para el background global del body --- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);

    /* La imagen de fondo */
    background-image: url('../img/bg.jpg'); 
    background-size: 450px; 
    background-position: center center; 
    background-repeat: repeat; 
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}